#root {
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #111; Match the background color */
  color: white;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  padding: 0 10%; /* Adjust padding for more centered content */
}

.content {
  position: relative;
  text-align: center;
  width: 100%;
}

.text-overlay {
  position: absolute;
  z-index: 1;
  bottom: 10%; /* Adjusted for better centering */
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.1;
  pointer-events: none;
  text-align: center;
}

.background-text {
  font-size: 250px; /* Larger size to match the design */
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px white; /* Text outline */
  opacity: 0;
  animation: fadeInOut 5s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.introContent{
  z-index:1;
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: 10%; */
}

.intro {
display: flex;
justify-content: center;
flex-direction: column;
}

.intro h2 {
  font-size: 36px;
  margin: 0;
}

.intro h1 {
  font-size: 48px;
  margin: 0;
}



.description {
  z-index: 2;
  max-width: 600px;
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  color: #bbb;
}
.swk {
  filter: brightness(60%);
  opacity: 0;
}

.flirt{
  text-align: center;
  width: 50%;
}
